@use '../../styles/partials/colors';
@use '../../styles/partials/typography';

.autocomplete {
    &__field {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid colors.$secondary-grey;
        background-color: colors.$primary-grey;
        padding: 0.5rem 0.5rem;
        outline: none;
    }
}