@use '../../styles/partials/colors';
@use '../../styles/partials/typography';

.button {
    background-color: colors.$primary-blue;
    border: none;
    overflow: hidden;
    color: colors.$primary-white;
    font-family: 'Montserrat', sans-serif;
    padding: 0.75rem 2.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
    text-align: center;

    &:hover {
        background-color: colors.$secondary-blue;
    }

    &--green {
        background-color: colors.$primary-green;
    }

    &--green:hover {
        background-color: colors.$secondary-green;
    }

    &__triangle {
        position: absolute;

        &--left {
            left: 0;
            top: 0;
            border-left: 1.5rem solid colors.$primary-white;
            border-bottom: 1rem solid transparent;
        }
        &--right {
            right: 0;
            bottom: 0;
            border-right: 1.5rem solid colors.$primary-white;
            border-top: 1rem solid transparent;
        }

        &--grey {
            border-right-color: colors.$primary-grey;
            border-left-color: colors.$primary-grey;
        }
    }
}