@use '../../styles/partials/colors';
@use '../../styles/partials/typography';

.button {
    background-color: colors.$primary-green;
    border: 1px solid colors.$primary-green;
    color: colors.$primary-white;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    font-weight: 300;
    border-radius: 0.25rem;
    cursor: pointer;

    &--hollow {
        background-color: colors.$primary-white;
        color: colors.$primary-green;
    }
}