@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.triangle-single {
    position: relative;

    &__shape {
        position: absolute;

        &--left {
            top: 0;
            left: 0;
            border-left: 24vw solid colors.$primary-white;
            border-bottom: 16vw solid transparent;

            @include  mixins.tablet {
                border-left-width: 24vw;
                border-bottom-width: 16vw;
            }

            @include mixins.desktop {
                border-left-width: 16rem;
                border-bottom-width: 12rem;            
            }
        }
        &--right {
            bottom: 0;
            right: 0;
            border-right: 24vw solid colors.$primary-white;
            border-top: 16vw solid transparent;

            @include  mixins.tablet {
                border-right-width: 24vw;
                border-top-width: 16vw;
            }

            @include mixins.desktop {
                border-right-width: 16rem;
                border-top-width: 12rem;            
            }
        }

        &--green {
            border-right-color: colors.$primary-green;
        }

        &--blue {
            border-left-color: colors.$primary-blue;
        }
    }
}