@use '../../styles/partials/colors';
@use '../../styles/partials/typography';

.autocomplete-list {
    list-style-type: none;
    padding: 0;
    margin-top: -1.5rem;
   
    &__list-item {
        padding: 0.5rem;
        border-bottom: 1px solid colors.$primary-grey;
        
        &--active,
        &:hover {
            background-color: colors.$primary-green;
            color: colors.$primary-white;
            cursor: pointer;
        }
    }
}