$primary-green: #256F5C;
$primary-blue: #2B4970;
$primary-white: #fff;
$primary-grey: #e6e6e6;
$primary-black: #333;

$secondary-green: #003729;
$secondary-blue: #051B38;
$secondary-black: #000000;
$secondary-grey: #999999;

$typography-grey: #777777;