@use "variables" as *;
@use "keyframes" as *;

@mixin tablet() {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin flex-it ($wrap: nowrap, $justify: flex-start, $align: stretch, $direction: row) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin desktop-container() {
    width: $desktop-width;
    margin: 0 auto;
}

@mixin grow() {
    animation: grow .5s ease-in-out;
}

@mixin shrink() {
    animation: shrink .5s ease-in-out;
}

@mixin dissolve() {
    opacity: 0;
    animation: dissolve 4s ease-in-out;
}

@keyframes grow {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
}


@keyframes shrink {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
}

@keyframes dissolve {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    10% {
        transform: scaleX(1);
        opacity: 1;
    }
    90% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}