@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.editor {
    padding: 1rem;

    
    @include mixins.tablet {
        padding: 2rem;
    }
    
    @include mixins.desktop {
        @include mixins.desktop-container;
    }
    
    &__heading-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    &__heading {
    }

    &__block-row {
        display: flex;
        justify-content: space-between;
        gap: 0.25rem;
    }

    &__block {
        flex: 1;   
    }

    &__modifier {
        flex: 1;   
    }

    &__submit {
        width: 100%;
        margin-top: 2rem;
    }

    &__actions {
        margin-top: 2rem;
        text-align: right;
    }
}