@use '../../styles/partials/colors';
@use '../../styles/partials/typography';
@use '../../styles/partials/mixins';

.home {
    &__hero {
        display: flex;
        flex-direction: column;
        background-color: colors.$primary-grey;
        padding: 2rem 1rem;
        @include mixins.tablet {
            padding: 1rem 5rem 3rem 5rem;
        }
    }

    &__hero-left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: colors.$typography-grey;
        gap: 1rem;
        text-align: center;
    }
    
    &__logo {
        max-width: 55%;
    }

    
    &__heading {
        font-weight: 300;
        padding-right: 1rem;
        color: colors.$typography-grey;
    }

    &__hero-right {
        width: 30vw;
        height: 32vw; 
        position: relative;
        overflow: hidden;
        display: none;
        
        @include mixins.tablet {
            display: block;
        }
    }
   
    &__triangle {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);        
    }

    &__background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 60%;
    }

    &__features {
        padding: 1rem 1rem 3rem 1rem;

        @include mixins.tablet {
            padding: 2rem 2rem 7rem 2rem;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
    }

    &__details {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }

    &__details-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;

    }

    &__contact-icons {
        height: 1.5rem;
        margin-right: 1rem;
    }

    &__contact-link {
        display: flex;
        align-items: center;
        margin-top: 0.25rem;
        text-decoration: none;
        color: colors.$typography-grey
    }
}