@use '../../styles/partials/colors';
@use '../../styles/partials/typography';

.card {
    display: flex;
    margin-bottom: 2rem;
    gap: 3rem;
    align-items: center;

    &__details {
        flex: 1;
        &--reversed {
            order: 2;
        }
    }

    &__image {
        width: 40%;
    }

    &__heading {
        color: colors.$primary-blue;
    }
}