@use '../../styles/partials/colors';
@use '../../styles/partials/typography';

.triangle {
    position: relative;
    box-sizing: border-box;
    width: 25vw;
    height: 14.5vw;
    background-color: transparent;
    border-top: 2.5vw solid transparent;

    &--animate {
        animation: loading 1s ease-in-out infinite alternate;
    }

    &--last {
        border-bottom: 2.5vw solid transparent;
        height: 17vw;
    }

    &__shape {
        position: absolute;
        top: 0;
        opacity: 0.8;

        &--left {
            left: 0;
            border-left: 20vw solid colors.$primary-white;
            border-bottom: 12vw solid transparent;
        }
        &--right {
            right: 0;
            border-right: 20vw solid colors.$primary-white;
            border-top: 12vw solid transparent;
        }

        &--green {
            border-right-color: colors.$primary-green;
            opacity: 1;
        }

        &--blue {
            opacity: 1;
            border-left-color: colors.$primary-blue;
        }
    }
@keyframes loading {
    0% {
        transform: scaleX(100%);
    }

    50% {
        transform: scaleX(80%);
    }

    100% {
        transform: scaleX(100%);
    }
    
}
}