@use '../../styles/partials/colors';

.loading {
    background-color: colors.$primary-grey;
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}