@use '../../styles/partials/colors';
@use '../../styles/partials/typography';

.editor-block {
    position: relative;

    &__buttons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        background-color: colors.$primary-green;
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    &__action {
        margin: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__icon {
        margin: 0;
        padding: 0;
        width: 0.8rem;
        height: 0.8rem;
    }
    
    &__code {
        background-color: colors.$primary-blue;
        border-radius: 0.25rem;
        padding: 1.5rem 1rem 1.5rem 1rem;
        margin: 1rem 0;
        color: colors.$primary-white;
        overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}