@use "./styles/partials/colors";
@use "./styles/partials/mixins";

.app {
    position: relative;
    &__main {
        padding-top: 3rem;

        @include mixins.tablet {
            padding-top: 4rem;
        }
    }
}